# Folders to ignore
/journeymap/
/dumps/
/crash-reports/
/.mixin.out/
/logs/
/local/
/libraries/
/llibrary/
/saves/
/TombManyGraves/
screenshots/
/mods/
/world/
/defaultconfig/
/data/
/ct_dumps/
/classes/

# Utilities
.github_changelog_generator
github_changelog_generator.gemspec
twitch_export-win.exe
ChangelogGenerator.bat
.build.json

# Client Configs
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/jei/bookmarks.ini
.curseclient
.ReAuth.cfg
usernamecache.json
usercache.json
knownkeys.txt
servers.dat
realms_persistence.json
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
crafttweaker.log
github_changelog_generator.gemspec
ChangelogGenerator.bat
GithubChangelogGenerator.bat
twitch_export-win.exe
*.dll
whitelist.json
ops.json
ModpackUploader.bat
post-file-to-discord.bat
.build.json

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

**/*.log
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
config/XaeroWorldMap/
eula.txt
scb_resources/
XaeroWaypoints/
XaeroWorldMap/
options.txt
secrets.ps1
**/*.zip
CHANGELOG-GENERATED.md
stdlib_Result$Error.class
stdlib_Result$Ok.class
ttt.class
.persistent/multibeds/embroidery.dat
ds_private_storage.json
TwitchExportBuilder.exe
reauth.toml
patchouli_data.json
new.json
old.json
config/cherishedworlds/favorites.dat
soundsMuffled.dat
MakeModpackFiles.bat
MakeModpackFilesPostToDiscord.bat
PostToDiscord.bat

!thirdpartymods/*.jar
!openloader/*/*.zip
TrashSlotSaveState.json
scripts/experiments/*
config/cloth-config2/config.properties
config/stepup.cfg
maessentials/default_kits.json
