# Configuration file

affixes {
    # The 1/n chance that a naturally spawned mob will be granted an affix item. [range: 1 ~ 500000, default: 125]
    I:"Random Affix Chance"=250
}


bosses {
    S:"Blacklisted Potions" <
        forbidden_arcanus:spectral_vision
     >
    S:"Boss Filler Block"=minecraft:red_sandstone
    I:"Boss Rarity Offset"=475
    S:"Boss Spawner Mobs" <
        3@minecraft:zombie
        3@minecraft:skeleton
        2@minecraft:husk
        2@minecraft:drowned
        2@minecraft:stray
        1@minecraft:wither_skeleton
        1@thermal:basalz
        1@thermal:blizz
        1@thermal:blitz
        1@eidolon:wraith
        1@eidolon:zombie_brute
        1@artifacts:mimic
        1@alexsmobs:bone_serpent
        1@alexsmobs:centipede_head
        1@alexsmobs:crimson_mosquito
        1@alexsmobs:soul_vulture
     >
    S:"Fire Resistance"=0.5
    S:"Level Up Chance"=0.4
    S:"Max Damage Bonus"=3.0
    S:"Max Health Multiplier"=4.0
    S:"Max Knockback Resist"=1.0
    S:"Max Regen Level"=2
    S:"Max Resistance Level"=2
    S:"Max Speed Multiplier"=1.5
    S:"Min Damage Bonus"=1.2
    S:"Min Health Multiplier"=2.0
    S:"Min Knockback Resist"=0.5
    S:"Min Regen Level"=0
    S:"Min Resistance Level"=0
    S:"Min Speed Multiplier"=1.0
    S:"Random Enchantment Chance"=0.25
    S:"Random Potion Chance"=0.45

    # The 1/n chance that a naturally spawned mob that can see the sky is transformed into a boss. [range: 1 ~ 500000, default: 85]
    I:"Surface Boss Chance"=600

    # If a lightning bolt strikes when a surface boss spawn occurs. [default: true]
    B:"Surface Boss Lightning"=true
    S:"Water Breathing"=1.0
}


"brutal spawners" {
    S:"Brutal Potion Effects" <
        minecraft:resistance@2
        minecraft:fire_resistance@1
        minecraft:regeneration@1
        minecraft:speed@2
        minecraft:water_breathing@1
        minecraft:strength@1
     >
    S:"Brutal Spawner Mobs" <
        3@minecraft:zombie
        3@minecraft:skeleton
        2@minecraft:husk
        2@minecraft:drowned
        2@minecraft:stray
        1@minecraft:spider
     >
}


dungeons {
    S:"Dungeon Brutal Chance"=0.05
    S:"Dungeon Swarm Chance"=0.1
}


frequencies {
    S:"Boss Chance"=0.08
    S:"Brutal Spawner Chance"=0.12
    S:"Swarm Spawner Chance"=0.15
}


frequency {
    # The number of generation attempts (per chunk) for boss dungeons. [range: 0 ~ 50000, default: 8]
    I:"Boss Dungeon"=8

    # The number of generation attempts (per chunk) for boss dungeon variant 2. [range: 0 ~ 50000, default: 8]
    I:"Boss Dungeon Variant 2"=8

    # The number of generation attempts (per chunk) for ore troves. [range: 0 ~ 50000, default: 8]
    I:"Ore Troves"=8

    # The number of generation attempts (per chunk) for rogue spawners. [range: 0 ~ 50000, default: 4]
    I:"Rogue Spawners"=4

    # The 1/n chance (per chunk) that a tome tower may attempt generation. 0 = disabled, lower = more chances. [range: 0 ~ 50000, default: 125]
    I:"Tome Tower"=125
}


general {
    # The biomes that the deadly module will not generate in. [default: [minecraft:warm_ocean], [minecraft:lukewarm_ocean], [minecraft:cold_ocean], [minecraft:frozen_ocean], [minecraft:deep_warm_ocean], [minecraft:deep_frozen_ocean], [minecraft:deep_lukewarm_ocean], [minecraft:deep_cold_ocean], [minecraft:ocean], [minecraft:deep_ocean]]
    S:"Generation Biome Blacklist" <
        minecraft:warm_ocean
        minecraft:lukewarm_ocean
        minecraft:cold_ocean
        minecraft:frozen_ocean
        minecraft:deep_warm_ocean
        minecraft:deep_frozen_ocean
        minecraft:deep_lukewarm_ocean
        minecraft:deep_cold_ocean
        minecraft:ocean
        minecraft:deep_ocean
     >

    # The dimensions that the deadly module will generate in. [default: [overworld]]
    S:"Generation Dimension Whitelist" <
        overworld
     >

    # The 1/n chance that a rogue spawner will generate with a CHEST_VALUABLE instead of it's default chest.  0 to disable. [range: 0 ~ 80000, default: 9]
    I:"Spawner Rare Loot Chance"=9
}


"random spawners" {
    I:"alexsmobs:bone_serpent"=1
    I:"alexsmobs:bone_serpent_part"=1
    I:"alexsmobs:dropbear"=1
    I:"alexsmobs:guster"=1
    I:"alexsmobs:mimicube"=1
    I:"alexsmobs:soul_vulture"=1
    I:"alexsmobs:straddler"=1
    I:"alexsmobs:warped_mosco"=1
    I:"ars_nouveau:wilden_guardian"=1
    I:"ars_nouveau:wilden_hunter"=1
    I:"ars_nouveau:wilden_stalker"=1
    I:"artifacts:mimic"=1
    I:"betterendforge:end_slime"=1
    I:"betterendforge:shadow_walker"=1
    I:"botania:doppleganger"=1
    I:"conjurer_illager:conjurer"=1
    I:"druidcraft:beetle"=1
    I:"druidcraft:dreadfish"=1
    I:"eidolon:necromancer"=1
    I:"eidolon:wraith"=1
    I:"eidolon:zombie_brute"=1
    I:"elementalcraft:earthgolem"=1
    I:"endermail:ender_mailman"=1
    I:"good_nights_sleep:baby_creeper"=1
    I:"good_nights_sleep:herobrine"=1
    I:"good_nights_sleep:tormenter"=1
    I:"meetyourfight:bellringer"=1
    I:"meetyourfight:dame_fortuna"=1
    I:"meetyourfight:swampjaw"=1
    I:"minecolonies:amazon"=1
    I:"minecolonies:amazonchief"=1
    I:"minecolonies:archerbarbarian"=1
    I:"minecolonies:archermummy"=1
    I:"minecolonies:archerpirate"=1
    I:"minecolonies:barbarian"=1
    I:"minecolonies:chiefbarbarian"=1
    I:"minecolonies:chiefpirate"=1
    I:"minecolonies:mummy"=1
    I:"minecolonies:norsemenarcher"=1
    I:"minecolonies:norsemenchief"=1
    I:"minecolonies:pharao"=1
    I:"minecolonies:pirate"=1
    I:"minecolonies:shieldmaiden"=1
    I:"minecraft:blaze"=8
    I:"minecraft:cave_spider"=8
    I:"minecraft:creeper"=8
    I:"minecraft:drowned"=8
    I:"minecraft:elder_guardian"=8
    I:"minecraft:ender_dragon"=8
    I:"minecraft:enderman"=8
    I:"minecraft:endermite"=8
    I:"minecraft:evoker"=8
    I:"minecraft:ghast"=8
    I:"minecraft:giant"=8
    I:"minecraft:guardian"=8
    I:"minecraft:hoglin"=8
    I:"minecraft:husk"=8
    I:"minecraft:illusioner"=8
    I:"minecraft:magma_cube"=8
    I:"minecraft:phantom"=8
    I:"minecraft:piglin"=8
    I:"minecraft:piglin_brute"=8
    I:"minecraft:pillager"=8
    I:"minecraft:ravager"=8
    I:"minecraft:shulker"=8
    I:"minecraft:silverfish"=8
    I:"minecraft:skeleton"=8
    I:"minecraft:slime"=8
    I:"minecraft:spider"=8
    I:"minecraft:stray"=8
    I:"minecraft:vex"=8
    I:"minecraft:vindicator"=8
    I:"minecraft:witch"=8
    I:"minecraft:wither"=8
    I:"minecraft:wither_skeleton"=8
    I:"minecraft:zoglin"=8
    I:"minecraft:zombie"=8
    I:"minecraft:zombie_pigman"=8
    I:"minecraft:zombie_villager"=8
    I:"minecraft:zombified_piglin"=8
    I:"mowziesmobs:baby_foliaath"=1
    I:"mowziesmobs:barako"=1
    I:"mowziesmobs:barakoan_barakoana"=1
    I:"mowziesmobs:barakoan_player"=1
    I:"mowziesmobs:barakoana"=1
    I:"mowziesmobs:barakoaya"=1
    I:"mowziesmobs:ferrous_wroughtnaut"=1
    I:"mowziesmobs:foliaath"=1
    I:"mowziesmobs:frostmaw"=1
    I:"mowziesmobs:grottol"=1
    I:"mowziesmobs:naga"=1
    I:"occultism:possessed_enderman"=1
    I:"occultism:possessed_endermite"=1
    I:"occultism:possessed_skeleton"=1
    I:"occultism:wild_hunt_skeleton"=1
    I:"occultism:wild_hunt_wither_skeleton"=1
    I:"outer_end:chorus_squid"=1
    I:"outer_end:entombed"=1
    I:"outer_end:himmelite"=1
    I:"outer_end:purpur_golem"=1
    I:"projectvibrantjourneys:banshee"=1
    I:"projectvibrantjourneys:ghost"=1
    I:"projectvibrantjourneys:haunt"=1
    I:"projectvibrantjourneys:ice_cube"=1
    I:"projectvibrantjourneys:maw"=1
    I:"projectvibrantjourneys:nightmare"=1
    I:"projectvibrantjourneys:phantasm"=1
    I:"projectvibrantjourneys:shade"=1
    I:"projectvibrantjourneys:skeletal_knight"=1
    I:"projectvibrantjourneys:specter"=1
    I:"projectvibrantjourneys:watcher"=1
    I:"projectvibrantjourneys:wraith"=1
    I:"quark:forgotten"=1
    I:"quark:wraith"=1
    I:"quark:wrapped"=1
    I:"tconstruct:sky_slime"=1
    I:"thermal:basalz"=1
    I:"thermal:blitz"=1
    I:"thermal:blizz"=1
    I:"twilightforest:adherent"=1
    I:"twilightforest:armored_giant"=1
    I:"twilightforest:blockchain_goblin"=1
    I:"twilightforest:death_tome"=1
    I:"twilightforest:fire_beetle"=1
    I:"twilightforest:giant_miner"=1
    I:"twilightforest:goblin_knight_lower"=1
    I:"twilightforest:goblin_knight_upper"=1
    I:"twilightforest:harbinger_cube"=1
    I:"twilightforest:hedge_spider"=1
    I:"twilightforest:helmet_crab"=1
    I:"twilightforest:hostile_wolf"=1
    I:"twilightforest:hydra"=1
    I:"twilightforest:ice_crystal"=1
    I:"twilightforest:king_spider"=1
    I:"twilightforest:knight_phantom"=1
    I:"twilightforest:kobold"=1
    I:"twilightforest:lich"=1
    I:"twilightforest:lich_minion"=1
    I:"twilightforest:loyal_zombie"=1
    I:"twilightforest:maze_slime"=1
    I:"twilightforest:mini_ghast"=1
    I:"twilightforest:minoshroom"=1
    I:"twilightforest:minotaur"=1
    I:"twilightforest:mist_wolf"=1
    I:"twilightforest:mosquito_swarm"=1
    I:"twilightforest:naga"=1
    I:"twilightforest:pinch_beetle"=1
    I:"twilightforest:redcap"=1
    I:"twilightforest:redcap_sapper"=1
    I:"twilightforest:rising_zombie"=1
    I:"twilightforest:roving_cube"=1
    I:"twilightforest:skeleton_druid"=1
    I:"twilightforest:slime_beetle"=1
    I:"twilightforest:snow_guardian"=1
    I:"twilightforest:snow_queen"=1
    I:"twilightforest:stable_ice_core"=1
    I:"twilightforest:swarm_spider"=1
    I:"twilightforest:tower_broodling"=1
    I:"twilightforest:tower_ghast"=1
    I:"twilightforest:tower_golem"=1
    I:"twilightforest:tower_termite"=1
    I:"twilightforest:troll"=1
    I:"twilightforest:unstable_ice_core"=1
    I:"twilightforest:ur_ghast"=1
    I:"twilightforest:winter_wolf"=1
    I:"twilightforest:wraith"=1
    I:"twilightforest:yeti"=1
    I:"twilightforest:yeti_alpha"=1
    I:"undergarden:brute"=1
    I:"undergarden:forgotten_guardian"=1
    I:"undergarden:masticator"=1
    I:"undergarden:muncher"=1
    I:"undergarden:nargoyle"=1
    I:"undergarden:rotbeast"=1
    I:"undergarden:rotdweller"=1
    I:"undergarden:rotling"=1
    I:"undergarden:rotwalker"=1
    I:"undergarden:sploogie"=1
    I:"undergarden:stoneborn"=1
    I:"upgrade_aquatic:flare"=1
    I:"upgrade_aquatic:great_thrasher"=1
    I:"upgrade_aquatic:thrasher"=1
    I:"upgrade_aquatic:ululu"=1
}


"spawner stats: brutal spawners" {
    I:"Max Delay"=400
    I:"Max Nearby Entities"=6
    I:"Min Delay"=200
    I:"Player Range"=16
    I:"Spawn Count"=6
    I:"Spawn Delay"=20
    I:"Spawn Range"=4
}


"spawner stats: swarm spawners" {
    I:"Max Delay"=300
    I:"Max Nearby Entities"=32
    I:"Min Delay"=75
    I:"Player Range"=8
    I:"Spawn Count"=8
    I:"Spawn Delay"=20
    I:"Spawn Range"=6
}


"swarm spawners" {
    S:"Swarm Spawner Mobs" <
        4@minecraft:zombie
        2@minecraft:skeleton
        5@minecraft:spider
        8@minecraft:cave_spider
        1@minecraft:creeper
     >
}


wanderer {
    # If the wandering trader may sell affix loot items as a rare trade. [default: true]
    B:"Affix Trades"=true
}


