# Configuration file

general {
    # If cobwebs can be used in anvils to remove enchantments. [default: true]
    B:"Enable Cobwebs"=true

    # If any two enchanted items can be combined in an Anvil. [default: false]
    B:"Item Merging"=false

    # The maximum enchantment power a table can receive from normal sources. [range: 0.0 ~ 3.4028235E38, default: 20.0]
    S:"Max Normal Power"=20.0

    # The maximum enchantment power a table can receive. [range: 0.0 ~ 3.4028235E38, default: 75.0]
    S:"Max Power"=75.0
}


