# Configuration file

general {
    # The durability damage dealt to an item that silk touches a spawner. [range: 0 ~ 100000, default: 100]
    I:"Spawner Silk Damage"=100

    # The level of silk touch needed to harvest a spawner.  Set to -1 to disable, 0 to always drop.  The enchantment module can increase the max level of silk touch. [range: -1 ~ 127, default: 1]
    I:"Spawner Silk Level"=1
}


spawn_eggs {
    # A list of entity registry names that cannot be applied to spawners via egg. [default: ]
    S:"Banned Mobs" <
        alexsmobs:mimicube
        alexsmobs:warped_mosco
        ars_nouveau:familiar_bookwyrm
        ars_nouveau:familiar_carbuncle
        ars_nouveau:familiar_drygmy
        ars_nouveau:familiar_jabberwog
        ars_nouveau:familiar_sylph
        ars_nouveau:familiar_wixie
        artifacts:mimic
        atum:pharaoh
        meetyourfight:bellringer
        meetyourfight:dame_fortuna
        meetyourfight:swampjaw
        occultism:afrit
        occultism:afrit_wild
        occultism:djinni
        occultism:foliot
        occultism:marid
        occultism:otherworld_bird
        occultism:possessed_enderman
        occultism:possessed_endermite
        occultism:possessed_skeleton
        occultism:wild_hunt_skeleton
        occultism:wild_hunt_wither_skeleton
        resourcefulbees:alf_bee
        resourcefulbees:blaze_bee
        resourcefulbees:clay_bee
        resourcefulbees:coal_bee
        resourcefulbees:copper_bee
        resourcefulbees:creeper_bee
        resourcefulbees:diamond_bee
        resourcefulbees:elementium_bee
        resourcefulbees:emerald_bee
        resourcefulbees:ender_bee
        resourcefulbees:ghast_bee
        resourcefulbees:gold_bee
        resourcefulbees:icy_bee
        resourcefulbees:infused_iron_bee
        resourcefulbees:iron_bee
        resourcefulbees:lapis_bee
        resourcefulbees:lead_bee
        resourcefulbees:manasteel_bee
        resourcefulbees:nether_quartz_bee
        resourcefulbees:netherite_bee
        resourcefulbees:nickel_bee
        resourcefulbees:obsidian_bee
        resourcefulbees:oreo_bee
        resourcefulbees:osmium_bee
        resourcefulbees:pigman_bee
        resourcefulbees:redstone_bee
        resourcefulbees:refined_glowstone_bee
        resourcefulbees:refined_obsidian_bee
        resourcefulbees:rgbee_bee
        resourcefulbees:silver_bee
        resourcefulbees:skeleton_bee
        resourcefulbees:sky_bee
        resourcefulbees:slimy_bee
        resourcefulbees:steel_bee
        resourcefulbees:tainted_gold_bee
        resourcefulbees:terrasteel_bee
        resourcefulbees:tin_bee
        resourcefulbees:wither_bee
        resourcefulbees:zombie_bee
        undergarden:masticator
     >
}


