;SETTINGS FOR SERVERSTART SCRIPTS
;See "serverstart.log" in the LOGS subfolder 
;For more details/help see: https://github.com/AllTheMods/Server-Scripts

MAX_RAM=4G; 
JAVA_ARGS=-d64 -server -XX:+AggressiveOpts -XX:+UseConcMarkSweepGC -XX:+UnlockExperimentalVMOptions -XX:+UseParNewGC -XX:+ExplicitGCInvokesConcurrent -XX:+UseFastAccessorMethods -XX:+OptimizeStringConcat -XX:+UseAdaptiveGCBoundary; 
CRASH_COUNT=5; 
CRASH_TIMER=600; 
RUN_FROM_BAD_FOLDER=0; 
IGNORE_OFFLINE=0; 
IGNORE_JAVA_CHECK=0; 
USE_SPONGE=0;
HIGH_CPU_PRIORITY=0;

MODPACK_NAME=Enigmatica 6;
MCVER=1.16.5;
FORGEVER=36.1.0;
FORGEURL=https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.16.5-36.1.0/forge-1.16.5-36.1.0-installer.jar;