# Configuration file

general {
    # How much power the auto clicker can store.  Also the max input rate.  Unused if "Uses RF" = false [range: 0 ~ 2147483647, default: 50000]
    I:"Max Power Storage"=50000

    # How often, in ticks, the power value of the TE will be synced with the GUI. [range: 1 ~ 2147483647, default: 10]
    I:"Power Update Frequency"=10

    # The RF cost per tick for each speed, from 0-8.  Must have 9 values.  Unused if "Uses RF" = false [default: [0], [3], [5], [10], [25], [50], [100], [250], [500]]
    S:"RF Costs" <
        0
        3
        5
        10
        25
        50
        100
        250
        500
     >

    # The possible speeds of the auto clicker, from 0-8.  Must have 9 values. [default: [500], [200], [100], [50], [20], [10], [5], [2], [1]]
    S:Speeds <
        500
        200
        100
        50
        20
        10
        5
        2
        1
     >

    # If the auto clicker uses RF [default: false]
    B:"Uses RF"=false
}


