;SETTINGS FOR SERVERSTART SCRIPTS
;See "serverstart.log" in the LOGS subfolder 
;For more details/help see: https://github.com/AllTheMods/Server-Scripts

MAX_RAM=4G; 
JAVA_ARGS=-XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:G1NewSizePercent=30 -XX:G1MaxNewSizePercent=40 -XX:G1HeapRegionSize=8M -XX:G1ReservePercent=20 -XX:G1HeapWastePercent=5 -XX:G1MixedGCCountTarget=4 -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio=32 -XX:+PerfDisableSharedMem -XX:MaxTenuringThreshold=1 -Dusing.aikars.flags=https://mcflags.emc.gs -Daikars.new.flags=true -Dfml.readTimeout=180 -Dfml.queryResult=confirm; 
CRASH_COUNT=5; 
CRASH_TIMER=600; 
RUN_FROM_BAD_FOLDER=0; 
IGNORE_OFFLINE=0; 
IGNORE_JAVA_CHECK=0; 
USE_SPONGE=0;
HIGH_CPU_PRIORITY=0;

MODPACK_NAME=Enigmatica 6;
MCVER=1.16.5;
FORGEVER=36.1.31;
FORGEURL=https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.16.5-36.1.31/forge-1.16.5-36.1.31-installer.jar;